body {
  padding: 0;
  margin: 0;
  background-color: #121212 !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.card {
  background-color: rgba(19, 19, 19, 0.3);
  margin-top: 20px ;
  padding: 40px;
  border-radius: 2px;
}

.card-header {
  padding-bottom: 50px;
  opacity: 0.8;
  color: #fff;
}

.card-header::after {
  width: 70px;
  height: 1px;
  background-color: #da8302;
  display: block;
  margin-top: -17px;
  margin-left: 6px;
}

.card-content label {
  color: #fff;

  font-size: 12px;

  opacity: 0.8;
}

.card-content-area {
  display: flex;

  flex-direction: column;

  padding: 10px 0;
}

.card-content-area input {
  margin-top: 10px;

  padding: 0 5px;

  background-color: transparent;

  border: none;

  border-bottom: 1px solid #e1e1e1;

  outline: none;

  color: #fff;
}

.card-footer {
  display: flex;

  flex-direction: column;
}

.card-footer .submit {
  width: 100%;

  height: 40px;

  background-color: #da8302;

  border: none;

  color: #e1e1e1;

  margin: 10px 0;
}

.card-footer a {
  text-align: center;

  font-size: 12px;

  opacity: 0.8;

  color: #fff;

  text-decoration: none;
}

.foto {
  width: 100%;
  height: 20px;
}

#conteudo {
  display: flex;

  align-items: center;

  justify-content: center;

  height: 100vh;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #fff;
}

.card-header-feira {
  padding-bottom: 50px;

  opacity: 0.8;

  color: #fff;
}

.card-header-feira::after {
  content: "";

  width: 280px;

  height: 1px;

  background-color: #fff;

  display: block;

  text-align: center;
}

.card-footer-feirantes {
  display: flex;

  flex-direction: column;
}

.card-footer-feirantes .submit {
  width: 100%;

  height: 30px;

  background-color: #da8302;

  border: none;

  color: #e1e1e1;

  margin: 10px 0;
}
