{% extends 'layout.html' %} 
{% load static %} 
{% block title %}Hora da colheita{% endblock title %} 
{% block conteudo %}



<main class="container">
    <div >
        <div class="card">
          <div class="card-header ">
            <h2>Feirantes</h2>
            <label for="feirantes">Feirantes disponivel na feirinha</label>
          </div>
  
          <div class="card-body">
            <div class="row gap-3 text-white">
              {% if itens %}
              {% for itens in itens %} 
                <div class="col-3 card">
                  <div class="card-header">
                    <img src="/media/{{itens.image}}"  class="card-img img-fluid " alt="{{itens.name}}" >
                    <span class="card-title">{{itens.name}}</span>
                  </div>
                  <div class="card-body">
                    <p class="card-text text-center">{{itens.name}}</p>
                    <span>Feirante: </span> <p> {{itens.feirante.first_name}} {{itens.feirante.last_name}}</p>
                  </div>
                  <div class="card-footer">
                    <span class="card-title">Valor: R$ {{itens.price}}</span>
                  </div>
                    
                </div>

                {% endfor %}
              {% else %}
              <div class="col s12">
                <p>Não há feirantes cadastrados ou nenhum item disponivel</p>
              </div>
              {% endif %}
              
            </div>
          </div>
        </div>
      </div>
</main>
<footer class="footer mt-5">
  <div class=" text-center text-light text-decoration-none">
      <a href="https://portal.ifrn.edu.br" target="_blank">©2022 IFRN. All rights reserved </a>
  </div>
</footer>


{% endblock conteudo %}