{% extends 'layout.html' %} 
{% load static %} 
{% block title %}Hora da colheita{% endblock title %} 
{% block activeI %}active{% endblock activeI %}
{% block css %}{% static '\css\index.css' %}{% endblock css %}
{% block conteudo %}



<section class="container my-5 card-glass p-5">
  <div class="row">
    <div class="col-12">
      <div class="fs-3 fw-bold mb-3 text-center">Itens disponíveis </div>
    </div>
    {% if itens %}
          {% for itens in itens %} 
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card ">
              <img src="/media/{{itens.image}}" class="card-img img-fluid" alt="{{itens.name}}">
              <div class="card-body">
                <h5 class="card-title">{{itens.name}}</h5>
                <p class="card-text">Vendedor: {{itens.feirante.first_name}} {{itens.feirante.last_name}}</p>
                <p class="card-text">Preço: R$ {{itens.price}}</p>
              </div>
            </div>
          </div>
          {% endfor %}
    {% else %}
    <div class="col-12">
      <p>Não há feirantes cadastrados ou nenhum item disponivel</p>
    </div>
    {% endif %}
    
  </div>
</section>


{% endblock conteudo %}