{% extends 'layout.html' %} 
{% load widget_tweaks %} 
{% load static %} 
{% block title %}Hora da colheita{% endblock title %} 
{% block conteudo %}

<main>
    <div id="login">
        <form class="card" method="POST" enctype="multipart/form-data" id="add_item">
          <div class="card-header">
            <h1>CADASTRO</h1>
          </div>
  
            <div class="card-body">
                {% csrf_token %}
                

                <div class="form-group">
                  <label for="nome">Nome</label>
                  {% render_field form.name class+="form-control" placeholder+="Nome"%}
          
                </div>
                <div class="form-group">
                  <label for="user">Usuario</label>
                  {% render_field form.user class+="form-control" placeholder+="user"%}
          
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  {% render_field form.email id+="email" class+="form-control" placeholder+="email"%}
                </div>
                
                <div class="form-group">
                  <label for="telefone">Telefone</label>
                  {% render_field form.phone id+="telefone" class+="form-control" placeholder+="telefone"%}
                </div>
                
                <div class="form-group">
                  <label for="cidade">Cidade</label>
                  {% render_field form.city id+="cidade" class+="form-control" placeholder+="Cidade"%}
                </div>
                <div class="form-group">
                  <label for="senha">Senha</label>
                  {% render_field form.password type+="password" id+="senha" class+="form-control" placeholder+="Senha"%}
                </div>
                <div class="form-group">
                  <label for="senha2">Confirmar Senha</label>
                  {% render_field form.password2 type+="password" id+="senha2" class+="form-control" placeholder+="Confirmar senha"%}
                </div>

                

              <div class="card-footer">
                <button type="submit" class="btn btn-primary ">Cadastrar</button>

              <button href="login" class=" btn btn-outline-info mt-4"> Voltar</button>  
  
            
          </div>
        </form>
    </div>
</main>


<footer id="footer" class="footer fixed-bottom ">
    <div class=" text-center text-light ">
        <a href="https://portal.ifrn.edu.br" target="_blank">©2022 IFRN. All rights reserved </a>
    </div>
</footer>
{% endblock conteudo %}