{% extends 'layout.html' %} 
{% load static %} 
{% block title %}Hora da colheita{% endblock title %} 
{% block conteudo %}

<main>
    <div id="login">
        <form class="card">
          <div class="card-header">
            <h1>CADASTRO</h1>
          </div>
  
          <div class="card-content">
            <div class="card-content-area">
              <label for="nome">Nome Completo</label>
  
              <input type="text" id="nome" autocomplete="off" />
            </div>
            <div class="card-content-area">
              <label for="idade">Idade</label>
  
              <input type="text" id="idade" autocomplete="off" />
            </div>
            <div class="card-content-area">
              <label for="email">E-mail</label>
  
              <input type="text" id="email" autocomplete="off" />
            </div>
            <div class="card-content-area">
              <label for="telefone">Telefone</label>
  
              <input type="text" id="telefone" autocomplete="off" />
            </div>
  
            <div class="card-content-area">
              <label for="password">Senha</label>
  
              <input type="password" id="password" autocomplete="off" />
            </div>
          </div>
  
          <div class="card-footer">
            <input type="submit" value="Cadastra-se" class="submit" />
  
            <a href="#" class="recuperar_senha"></a>
            <a href="login" class="cadastro"> <h2>Voltar</h2> </a>
          </div>
        </form>
      </div>
</main>


<footer id="footer" class="footer fixed-bottom ">
    <div class=" text-center text-light ">
        <a href="https://portal.ifrn.edu.br" target="_blank">©2022 IFRN. All rights reserved </a>
    </div>
</footer>
{% endblock conteudo %}