{% extends 'layout.html' %} 
{% load static %} 
{% block title %}Hora da colheita{% endblock title %} 
{% block conteudo %}

<main>
    <div id="login">
        <form class="card" method="post" id="oneValidade" class=" needs-validation" novalidate>
          {% csrf_token %}
          <div class="card-header">
            <h1>Login</h1>
          </div>
  
          <div class="card-content">
            <div class="form-group col-md-12">
              <label for="email">Email</label>
              <input type="text" id="email" name="username" placeholder="Ex.: meuemail@gmail.com"
                  class="form-control mail" minlength="9" maxlength="30" required>
              <div class="invalid-feedback">
                  Você deve informar corretamente!
              </div>
          </div>

          <div class="form-group col-md-12">
              <label for="senha">Senha:</label>
              <input type="password" name="password" id="senha" placeholder="**********" class="form-control" required>
              <div class="invalid-feedback">
                 Informe sua senha!
              </div>
          </div>
          </div>
  
          <div class="card-footer">
            <input type="submit" value="login" class="submit" />
  
            <a href="recuperar" class="recuperar_senha">Esqueceu a senha?</a>
            <a href="cadastro" class="cadastro"> <h2>Cadastre-se</h2> </a>
          </div>
        </form>
      </div>
</main>


<footer id="footer" class="footer fixed-bottom ">
    <div class=" text-center text-light ">
        <a href="https://portal.ifrn.edu.br" target="_blank">©2022 IFRN. All rights reserved </a>
    </div>
</footer>
{% endblock conteudo %}