{% extends 'layout.html' %} 
{% load static %} 
{% block title %}Meu perfil{% endblock title %} 
{% block conteudo %}




{% if user.is_authenticated %} 
   <!--Editar meus dados de usuario-->
    <div class="container bg-body rounded p-4 mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1>Meu perfil</h1>
                <form action="{% url 'users:perfil' %}" method="post">
                    {% csrf_token %}
                    <div class="d-flex justify-content-between gap-3">
                        <div class="form-group w-100">
                            <label for="name">Nome</label>
                            <input type="text" class="form-control" id="name" name="nome" value="{{ user.first_name }}">
                        </div>
                        <div class="form-group w-100">
                            <label for="nome">Sobrenome</label>
                            <input type="text" class="form-control" id="sobrenome" name="sobrenome" value="{{ user.last_name }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input type="password" class="form-control" id="senha" name="senha">
                    </div>
                    <div class="form-group">
                        <label for="senha2">Confirme a senha</label>
                        <input type="password" class="form-control" id="senha2" name="senha2">
                    </div>
                    <div class="form-group">
                        <label for="foto">Trocar foto</label>
                        <input type="file" class="form-control" id="foto" name="foto">
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Salvar</button>
                </form>
            </div>

        </div>

{% else %} 
    <p>Você não está logado.</p> 
{% endif %} 
{% endblock conteudo %}
